
// .nav{

//     height: 100%;
//     width: 300px;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     background-color: #111;
//     overflow-x: hidden;
//     padding-top: 20px;
//     background: $black;
//     color: white;
//     border-right: 2mm solid $gold;
 
// }


.App{
    height: 700px;
    width: 900px;
    box-sizing: border-box;
    border: 2px purple solid;
}


.header{
    height: 20%;
    width: 80%;
    margin-top: 0;
    order: 2;
    float: right;
    box-sizing: border-box;
    border: 2px red solid;
}

.TextBox{
    height: 70%;
    width: 80%;
    box-sizing: border-box;
    border: 2px blue solid;
    float: right;

}

.videoWrapper{
    width: 80%;
    box-sizing: border-box;
    border: 2px green solid;
    float: right;

}

.nav{
    height: 700px;
    // height: 500px;
    width: 20%;
    box-sizing: border-box;
    border: 2px black solid;
    float: left;
}

a{
    padding: 6px 6px 6px 32px;
    display: block;
    box-sizing: border-box;
    border: 2px black solid;
    margin: 5%;
}

.footer{
    height: 10%;
    width: 80%;
    box-sizing: border-box;
    border: 2px black solid;
    float: right;
}
