$bg_std: #1C1B1B;;
$font_std: 'helvetica';
$black: #000;
$white: #fff;
$animation_time: 350ms;
$gutter_std: 1vw;
$red: #9F484F;
$blue: #3C4D77;
$orange:#CF8D49;
$beige: #D7CEBA;
$black:#0F0E0E;
$grey:#757374;